@import 'style.css';
* {
  background-color: #240315;
  color: #ffebcd;
  font-family: "Didact Gothic";
  line-height: 2em;
  overflow-x: hidden;
}

header {
  font-size: 1.3em;
}

main {
  margin: 0 25%;
  padding: 3em;
  border: #ffebcd solid 30px;
}

p {
  font-size: 1.5em;
  text-indent: 2vw;
  background-color: transparent;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

input[type=text], input[type=tel] {
    border: 2px solid #F25737;
    border-radius: 6px;
    color: #F25737;
    background-color: transparent;
    width: 30%;
    padding: 0 1vh;
    margin: 1vh 0;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
  }

h1, h2, h3, h4 {
  font-family: "Poiret One";
  margin: 0;
  background: transparent;
}

h1 {
  font-size: 6rem;
  display: inline-block;
}

h2 {
  font-size: 3rem;
  text-decoration: 4px underline #ffebcd;
}

h3 {
  background-color: #ffebcd;
  color: #F25737;
  font-size: 2.5rem;
}

h4{
  color:#F25737;
  font-size:2.3rem;
}

form{
    background-color:#ffebcd;
    text-align:center;
}

button {
  background-color: transparent;
  color: #F25737;
  width: 10%;
  padding: 14px;
  margin: 8px;
  border: 2px solid #F25737;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 6px;
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0 0 4vh 0;
  background-color: #ffebcd;
}
nav ul li {
  float: left;
  margin: 2px;
}
nav ul li a {
  font-family: "Poiret One";
  margin: 0;
  background: transparent;
  background-color: #ffebcd;
  color: #F25737;
  display: block;
  text-decoration: none;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}
nav ul li a:hover {
  background-color: #240315;
  color: #ffebcd;
}

#left {
  margin-right: auto;
  display: block;
}
#kevin{
  text-align: center;
}
#right {
  margin-left: auto;
  display: block;
}
#icon{
    line-height:unset;
}
#footerfont{
  color:#F25737;
  font-family: 'Poiret One';
  }
.link{
    background-color: #ffebcd;
    color:#F25737;
}
.divider {
  background-color: #ffebcd;
  color: #F25737;
  display: block;
  text-decoration: none;
  padding: 1em;
  box-shadow: 1vh 1vw #F25737;
  transition: 1000ms all;
  transform-origin: center;
  outline: 1px solid var(#F25737);
  overflow: hidden;
}
.divider:hover {
  transform: scale(1.05);
  box-shadow: 1vh 1vw 30px #F25737;
}
.divider:hover ~ .divider {
  transform: translateX(15px);
}
.divider > div, .divider p, .divider h2 {
  background-color: #ffebcd;
  color: #F25737;
}
.divider h2 {
  text-decoration: 3px underline #F25737;
}

.background {
  padding: 3em;
  background: rgba(0, 0, 0, 0.65);
}

.grid-container {
  display: grid;
  grid-template-areas: "header header header" ". image1 ." "main main main" "main main main" "list list list" "footer footer footer";
}

.head {
  grid-area: header;
}
.head > div {
  background-color: transparent;
  flex-wrap: nowrap;
  background-color: transparent;
  margin-inline: auto;
  text-align: center;
  display: flex;
}
.head > div > img {
  width: 30vw;
  height: 100%;
}

.mainbody {
  grid-area: main;
}

.image1 {
  line-height: 0;
  margin: 0 2vw 4vh 2vw;
  grid-area: image1;
  text-align: center;
  margin-inline: auto;
  transition: 750ms all;
  transform-origin: center;
}
.image1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #ffebcd;
}
.image1:hover ~ .image1 {
  transform: translateX(10px);
}

.list {
  grid-area: list;
  margin: 0 10%;
  text-align: center;
}
.foot {
  grid-area: footer;
  margin: 4vh 0 0 0;
}

.button {
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-family: "Poiret One" !important;
  color: #ffebcd;
  text-shadow: 2px 2px 2px #240315;
  text-decoration-color: #ffebcd;
  text-align: center;
  transition-delay: 0.5s;
}
.button a {
  font-size: 1.5rem;
  background: rgba(36, 3, 21, 0.15);
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #F25737;
  border-radius: 5px;
  margin: 3vh 10vh;
  transition: 0.5s;
}
.button a:hover {
  transition-delay: 0.5s;
  color: #ffebcd;
  box-shadow: 0 0 10px #F25737, 0 0 20px #F25737, 0 0 40px #ffebcd, 0 0 80px #F25737, 0 0 100px #F25737;
}
.button a span {
  position: relative;
  z-index: 100;
  background-color: transparent;
}
.button a::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  background: #F25737;
  box-shadow: 0px -5px 0 #F25737, 0px 5px 0 #F25737;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 0.5s, 0.5s, 0s, 0s;
  border-radius: 5px;
}
.button a:hover::before {
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 #F25737, 5px 0 0 #F25737;
  transition-delay: 0s, 0.25s, 0.25s, 0.25s;
  border-radius: 5px;
}
.button a::after {
  content: "";
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  background: #F25737;
  box-shadow: 0px -5px 0px #F25737, 0px 5px 0px #F25737;
  transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 0.5s, 0.5s, 0s, 0s;
  border-radius: 5px;
}
.button a:hover::after {
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 #F25737, -5px 0 0 #F25737;
  transition-delay: 0s, 0.25s, 0.25s, 0.25s;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  * {
    overflow-x: visible;
  }
  nav ul li {
    float: none;
    width: 100%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4{
    font-size: 1.5rem;
  }
  p {
    font-size: 1em;
  }
  main {
    margin: 0;
  }
  button {
    width: 50%;
    height: auto;
  }
  .image1 {
    overflow-x: visible;
    object-fit: cover;
  }
}
