@mixin alt {
    background-color: $color2;
    color: $color3;
  }
  
  @mixin titles {
    font-family: $font1;
    margin: 0;
    background: transparent;
  }
  
  @mixin input {
    border: 2px solid $color3;
    border-radius: 6px;
    color: $color3;
    background-color: transparent;
    width: 30%;
    padding: 0 1vh;
    margin: 1vh 0;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
  }
  @mixin format{
    display: block;
    text-decoration: none;
    padding: 1em;
  }
  $color1: #240315;
  $color2: #ffebcd;
  $color3: #F25737;
  $font1: 'Poiret One';
  $font2: 'Didact Gothic';
  
  @import 'style.css';
  
  * {
    background-color: $color1;
    color: $color2;
    font-family: $font2;
    line-height: 2em;
    overflow-x:hidden;
  }
  
  header {
    font-size: 1.3em;
    
  }
  
  main {
    margin: 0 25%;
    padding: 3em;
    border: $color2 solid 30px;
  }
  
  p {
    font-size: 1.5em;
    text-indent: 2vw;
    background-color: transparent;
  }
  
  footer {
  
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  } 
  h1, h2, h3, h4 {
    @include titles;
  }
  
  h1 {
    font-size: 6rem;
    display:inline-block;
  }
  
  h2 {
    font-size: 3rem;
    text-decoration: 4px underline $color2;
  }
  
  h3 {
    @include alt;
    font-size: 2.5rem;
  }
  h4{
    color:$color3;
    font-size:2.3rem;
  }
  form{
    background-color:$color1;
    text-align:center;
}
  
button {
  background-color: transparent;
  color: $color3;
  width: 10%;
  padding: 14px;
  margin: 8px;
  border: 2px solid $color3;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 6px;
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}
  
input[type=text], input[type=tel] {
    border: 2px solid $color3;
    border-radius: 6px;
    color: $color3;
    background-color: transparent;
    width: 30%;
    padding: 0 1vh;
    margin: 1vh 0;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
  }

  nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 4vh 0;
    background-color: $color2;
    li {
      float: left;
      margin: 2px;
  
      a {
        @include titles;
        @include alt;
        @include format;
        text-align: center;
        font-weight: bold;
      }
  
      a:hover {
        background-color: $color1;
        color: $color2;
      }
    }
  }
  
  #left{
    margin-right: auto;
    display: block;
  }
  #right{
    margin-left: auto;
    display: block;
  }

  #icon{
    line-height:unset;
  }
  #footerfont{
    color:$color3;
    font-family: $font1;
  }
  
  .link{
    @include alt;
  }

  .divider {
    @include alt;
    @include format;
    box-shadow: 1vh 1vw $color3;
    transition: 1000ms all;
    transform-origin: center;
    outline: 1px solid var($color3);
    overflow: hidden;
    
    
    &:hover {
      transform: scale(1.05);
      box-shadow: 1vh 1vw 30px $color3;
    }
  
    &:hover ~ .divider {
      transform: translateX(15px);
  
    }
    > div,p, h2{
      @include alt;
    }
    h2{
      text-decoration: 3px underline $color3;
    }
  }
  
  .background {
    padding: 3em;
    background: rgba(0, 0, 0, .65);
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header'
      '. image1 .'
      'main main main'
      'main main main'
      'list list list'
      'footer footer footer';
  }
  
  .head {
    grid-area: header;
    
    > div{
      background-color: transparent;
      flex-wrap: nowrap;
      background-color: transparent;
      margin-inline:auto;
      text-align: center;
      display:flex;
      > img{
         width: 30vw;
       height: 100%;
      }
    } 
  }
  
  .mainbody {
    grid-area: main;
  }
  
  .image1 {
    line-height: 0;
    margin: 0 2vw 4vh 2vw;
    grid-area: image1;
    text-align: center;
    margin-inline: auto;
    transition: 750ms all;
    transform-origin: center;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 30px $color2;
    }
  
    &:hover ~ .image1 {
      transform: translateX(10px);
    }
  }
  
  .list {
    grid-area: list;
    margin: 0 10%;
    text-align: center;
      }
  
  .link{
    background-color:transparent;
  }
  
  .foot {
    grid-area: footer;
    margin: 4vh 0 0 0;
  }
  
  .button {
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'Poiret One' !important;
    color: $color2;
    text-shadow: 2px 2px 2px $color1;
    text-decoration-color: $color2;
    text-align: center;
    transition-delay: 0.5s;
  
    a {
      font-size: 1.5rem;
      background: rgba(36, 3, 21, 0.15);
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      border: 2px solid $color3;
      border-radius: 5px;
      margin: 3vh 10vh;
      transition: 0.5s;
  
      &:hover {
        transition-delay: 0.5s;
        color: $color2;
        box-shadow: 0 0 10px $color3, 0 0 20px $color3, 0 0 40px $color2, 0 0 80px $color3, 0 0 100px $color3;
      }
  
      span {
        position: relative;
        z-index: 100;
        background-color: transparent;
      }
  
      &::before {
        content: '';
        position: absolute;
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 2px;
        background: $color3;
        box-shadow: 0px -5px 0 $color3, 0px 5px 0 $color3;
        transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 0.5s, 0.5s, 0s, 0s;
        border-radius: 5px;
      }
  
      &:hover::before {
        width: 60%;
        height: 100%;
        left: -2px;
        box-shadow: 5px 0 0 $color3, 5px 0 0 $color3;
        transition-delay: 0s, 0.25s, 0.25s, 0.25s;
        border-radius: 5px;
      }
  
      &::after {
        content: '';
        position: absolute;
        right: -2px;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 2px;
        background: $color3;
        box-shadow: 0px -5px 0px $color3, 0px 5px 0px $color3;
        transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 0.5s, 0.5s, 0s, 0s;
        border-radius: 5px;
      }
  
      &:hover::after {
        width: 60%;
        height: 100%;
        right: -2px;
        box-shadow: -5px 0 0 $color3, -5px 0 0 $color3;
        transition-delay: 0s, 0.25s, 0.25s, 0.25s;
        border-radius: 5px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    *{
      overflow-x:visible;
    }
    nav ul li {
      float: none;
      width: 100%;
    }
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.5rem;  
    }
    p {
      font-size: 1em;
    }
    main {
      margin: 0;
    }
    button {
      width:50%;
      height:auto;
    }
    .image1{
      overflow-x:visible;
      object-fit: cover;
    }
  }